body{
    margin:0;
    padding:20px;
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f6f9;
    color:#333;
}

h1{
    text-align:center;
    color:#5D4037;
    margin-bottom:20px;
}

a{
    text-decoration:none;
}

.boton{
    background:#6D4C41;
    color:white;
    padding:10px 18px;
    border-radius:8px;
    display:inline-block;
    margin-bottom:20px;
    transition:.3s;
}

.boton:hover{
    background:#8D6E63;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 4px 10px rgba(0,0,0,.1);
}

thead{
    background:#6D4C41;
    color:white;
}

th{
    padding:14px;
    text-align:center;
    font-size:15px;
}

td{
    padding:12px;
    border-bottom:1px solid #e5e5e5;
    text-align:center;
    font-size:14px;
}

tr:nth-child(even){
    background:#fafafa;
}

tr:hover{
    background:#f1ece8;
}

input, select{
    width:100%;
    padding:10px;
    margin:8px 0 18px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:15px;
}

form{
    width:700px;
    margin:auto;
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

button{
    width:100%;
    background:#6D4C41;
    color:white;
    border:none;
    padding:12px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#8D6E63;
}
